

/* Style the images inside the grid */
.column img {
  opacity: 1; 
  cursor: pointer; 
  border-radius: 20px;
}

.column img:hover {
  opacity: 0.8;
}

.emptyspace{
	padding: 80px;
}

.emptyspace_drink{
	padding: 50px;
}